
@use "abstracts/variables/colors" as *;
@use "abstracts/variables/typography" as *;
@use "abstracts/variables/columns" as *;
@use "abstracts/variables/structure" as *;

@use "headings" as *;
@use "copy" as *;


body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

