
@use "sass:math";

@use "../variables/colors" as *;
@use "../variables/typography" as *;
@use "../variables/columns" as *;
@use "../variables/structure" as *;

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


@mixin column-width($numberColumns: 3) {
	$total-margin: math.div($columns__margin * ($numberColumns - 1), $numberColumns);
	width: map-get($columns, $numberColumns) - $total-margin;
  }
  