

/* --------------------------------
---- HEADER -----------------------
---------------------------------*/
.site-header{
	display: block;
	width: var(--size-page-header-w);
	height: var(--size-page-header-h);
	margin: 0 auto;
	max-width: var(--size-page-max-w);

	display: flex;
	align-items: center;
	justify-content: flex-start;

	flex-direction: row-reverse;
}


/* --------------------------------
---- HEADER::LOGO -----------------
---------------------------------*/
.site-branding{
	width: 20px;
	padding: 6px;
	display: block;
}

.site-branding p{
	margin: 0px;
	padding: 0px;
}

.site-title{
	display: block;
	width: 42px;
}
.site-title img{
	width: 100%;
	padding-right: 0px;
}

.jm__logo{

	display: block;
	box-sizing: border-box;
	position: relative;
	top: 1px;

	.logo__border{
		display: block;
		box-sizing: border-box;
		width: 100%;
		padding: var(--logo-p);
	}
	.logo__content{
		display: block;
		box-sizing: border-box;

		width: var(--logo-w);
		height: var(--logo-h);

		padding: var(--logo-p);

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		border: 2px solid var(--color-texts);
		border-radius: 100%;


		text-decoration: none !important;

		font-size: var(--logo-font-size);
		font-family: 'louis-george-cafe';		
		letter-spacing: -1px;
		font-weight: bold;
		color: var(--color-texts);
		&:hover{
			color:  var(--color-texts-hover );
			border-color:  var(--color-texts-hover );
		}
	}
	.logo__lt{
		box-sizing: border-box;
		position: relative;
		top: -2px;
		left: 0px;
	}
	.logo__bt{
		box-sizing: border-box;

		position: relative;
		top: -2px;
		left: 0px;
	}
	.logo__text{
		box-sizing: border-box;
		text-decoration: none;
		text-transform: none;
		font-weight: 900;

		position: relative;
		top: -2px;
		left: 0px;
	}
}

.jl--logo-circle .jm__logo{
	--logo-w: 50px;
	--logo-h: 50px;
	--logo-p: 5px;
	--logo-font-size: 26px;

	.logo__lt, .logo__bt{
		display: block;
	}
	.logo__content{
		border-radius: 100%;
	}
}
.jl--logo-rectangle .jm__logo{
	--logo-w: 192px;
	--logo-h: 36px;
	--logo-p: 0px;
	--logo-font-size: 26px;

	.logo__lt, .logo__bt{
		display: none;
	}
	.logo__content{
		border-radius: 0px;
	}
}



/* --------------------------------
---- HEADER::NAVIGATION -----------
---------------------------------*/
.main-navigation {

	display: block;
	width: 100%;

	i{
		display: none;
	}

	.main-navigation__nav-list {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		display: block;
		width: 100%;

		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-end;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				
			}


			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {

		display: block;
		position: relative;
		padding: 0.5em 1em;

		font-family: var(---font-family);
		color: var(--color-accent);
		letter-spacing: var(--font-spacing-title);

		&:hover > a, &.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}










@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}





@media screen and (max-width: 640px) {   

	.site-header{
		position: fixed;
		z-index: 10;
		bottom: var(--size-page-pd);
		left: var(--size-page-pd);
		width: calc(100vw - 2*var(--size-page-pd));
		height: 80px;
		background-color: var(--color-clear);
	}
	.site-title{
		display: block;
		width: 80px;
		img{
		padding: 10px;
		}
	}
	.menu-mainmenu-container{
		display: block;
		width: calc(100% - 10px);
		padding-right: 10px;
		box-sizing: border-box;
	}
	#primary-menu{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		li{
			cursor: pointer;
			margin: 0px;
			opacity: 0.9;

			a span {
				display: none;
			}
			a i{
				display: inline-block;
				width: 35px;
				height: 35px;
			}
		}
		li:hover{
			opacity: 1;
		}
	
	}
}