@use "abstracts/variables/colors" as *;
@use "abstracts/variables/typography" as *;
@use "abstracts/variables/columns" as *;
@use "abstracts/variables/structure" as *;

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
