
@use "abstracts/variables/colors" as *;
@use "abstracts/variables/typography" as *;
@use "abstracts/variables/columns" as *;
@use "abstracts/variables/structure" as *;

.no-sidebar {

	.site {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}

	.site-container{
		width: 100%;
		max-width: 100%;
		//max-width: var( --size-page-max-w);
		margin: 0 auto;
	}
}
