// Synth Wave Green
$theme__color__main: #696969;
$theme__color__clear: #f4f9fc;
$theme__color__accent: #bfbc4d;
$theme__color__texts: #5b7e5e;
$theme__color__other: #7a9e70;

//Synth Wave Purple
$theme__color__main: #1d293d;
$theme__color__clear: #e5dfdc;
$theme__color__clear: #f4f9fc;
$theme__color__accent: #6400b1;
$theme__color__texts: #dbb151;
$theme__color__other: #98d5e9;


// THEME:: 2024
$theme__color__main: #696969;
$theme__color__clear: #f4f9fc;
$theme__color__accent: #bfbc4d;
$theme__color__texts: #5b7e5e;
$theme__color__other: #7a9e70;




$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: var(--color-texts); //royalblue
$color__link-visited: var(--color-texts-visited); //purple
$color__link-hover: var(--color-texts-hover); //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;








.theme--synth {
  --color-main: #1d293d;
  --color-gray: #696969;
  --color-clear: #f4f9fc;
  --color-accent: #6400b1;
  --color-texts: #dbb151;
  --color-other: #98d5e9;
}
.theme--synth2 {
  --color-main: #333d60;
  --color-gray: #696969;
  --color-clear: #f4f9fc;
  --color-accent: #6400b1;
  --color-texts: #6691ae;
}
.theme--synth3 {
  --color-main: #251632;
  --color-gray: #696969;
  --color-clear: #f4f9fc;
  --color-accent: #6400b1;
  --color-texts: #98ab75;
}
